@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Created by @ViewData["Nome"] - email: @ViewData["Email"]</p>
<address>
    <strong>More Information:</strong> <a href="https://github.com/henrizx"> GitHub</a>
</address>
